* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
}
:root {
  --bg-color: #171717;
}

#container {
  height: 100vh;
  width: 100vw;
  background-color: #252526;
  display: grid;
  grid-template: 100px 1fr / 200px repeat(3,1fr);
  grid-template-areas: 
          "aside header header header"
          "aside task task task"
}
#container_task{
  grid-area: task;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
}
aside{
  background-color: var(--bg-color);
}
header{
  background-color: #212121;
  grid-area: header;
}
aside{
  grid-area: aside;
}

#container_task{
  grid-area: task;
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  gap: 20px;
  padding: 0 20px ;
}

.todo,.pendiente,.hecho{
  background-color: #2f2f2f;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

/* Botontes */

ul{
  & :hover{
    background-color: #2f2f2f;
  }
  & li {
    display: flex;
    padding: 5px 0;
    & button {
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    }
    & :hover {
    cursor: pointer;
    }
  } 
}

#show-form-task{
  border: 2px solid white;
  background-color: transparent;
  font-size: 15px;
  height: 25px;
  width: 25px;
  border-radius: 30px;
}



/* Icons */
svg{
  width: 20px;
  height: 20px;
}
.delete:hover{
  fill: red;
}
.edit:hover{
  fill: green;
}

/* Provizorio */

input,button,textarea{
  background-color: #121212;
}
